@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
body {
  background: #F8F8F8;
  margin: 0;
  font-family: 'Goldman';
}

.navbar {
  background: #F02323;
  padding: 1em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .top-nav {
  margin: 0;
}

.navbar .container .top-nav li {
  display: inline;
}

.navbar .container .top-nav #pika-icon {
  width: 3em;
  height: 3em;
}

.navbar .container .top-nav .logo-name {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 2.3em;
}

.navbar .container .top-nav .logo-name span {
  color: #CCFF00;
}

.navbar .mobile-menu-btn {
  cursor: pointer;
}

nav.mobile-menu {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 60%;
  right: 0;
  top: 0;
  background: #F02323;
  height: 100vh;
  padding: 1em;
}

nav .primary-menu {
  margin-top: 5em;
}

nav li .gen-dropdown {
  display: none;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.5em;
  text-align: right;
}

nav li a:hover {
  color: #4c4c4c;
  font-weight: bold;
}

nav .current {
  color: #4c4c4c;
  font-weight: bold;
}

nav .mobile-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 855px) {
  .mobile-menu-btn, .mobile-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul.primary-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-top: 1.4em;
  }
  .navbar nav a {
    color: white;
    font-size: 1.1em;
    padding: .1em, 1em;
  }
  .navbar nav #gen-menu .gen-dropdown {
    display: none;
    position: absolute;
    background-color: #F02323;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    float: left;
    z-index: 999;
  }
  .navbar nav #gen-menu .gen-dropdown a {
    text-align: left;
    padding: 0.3em 0.5em;
  }
  .navbar nav #gen-menu:hover .gen-dropdown {
    display: block;
  }
  .navbar nav li a.current {
    color: #4c4c4c;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1080px) {
  .navbar nav ul.primary-menu {
    margin-top: 1.1em;
  }
  .navbar nav a {
    color: white;
    font-size: 1.4em;
    padding: .1em, 1em;
  }
}

@media only screen and (min-width: 1605px) {
  .navbar nav ul.primary-menu {
    margin-top: .1em;
  }
  .navbar nav a {
    color: white;
    font-size: 2em;
    padding: .1em, 1em;
  }
}
/*# sourceMappingURL=generation.css.map */