@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

body {
    background: #F8F8F8;
    margin: 0;
    font-family: 'Goldman';
}

.navbar {

    background: #F02323;
    padding: 1em;

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
        
        .top-nav {
            margin: 0;
            li {
                display: inline;
            }

            #pika-icon {
                width: 3em;
                height: 3em;
            }
    
            .logo-name {
                text-decoration: none;
                font-weight: bold;
                color: white;
                font-size: 2.3em;
                
    
                span {
                    color: #CCFF00;
                }
            }   
        }   
    }

    .mobile-menu-btn {
        cursor: pointer;
    }

}

nav.mobile-menu {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 60%;
    right: 0;
    top: 0;
    background: #F02323;
    height: 100vh;
    padding: 1em;

    .primary-menu {
        margin-top: 5em;
    }

    li {

        .gen-dropdown {
            display: none;
        }

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.5em;
            text-align: right;

            &:hover {
                color: #4c4c4c;
                font-weight: bold;
            }
        }
    }

    li.current a {
        color: #4c4c4c;
        font-weight: bold;
    }

    .mobile-exit {
        float: right;
        margin: .5em;
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}