@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
body {
  background: #F8F8F8;
  margin: 0;
  font-family: 'Goldman';
}

.navbar {
  background: #F02323;
  padding: 1em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .top-nav {
  margin: 0;
}

.navbar .container .top-nav li {
  display: inline;
}

.navbar .container .top-nav #pika-icon {
  width: 3em;
  height: 3em;
}

.navbar .container .top-nav .logo-name {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 2.3em;
}

.navbar .container .top-nav .logo-name span {
  color: #CCFF00;
}

.navbar .mobile-menu-btn {
  cursor: pointer;
}

nav.mobile-menu {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 60%;
  right: 0;
  top: 0;
  background: #F02323;
  height: 100vh;
  padding: 1em;
}

nav .primary-menu {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.5em;
  text-align: right;
}

nav li a:hover {
  color: #4c4c4c;
  font-weight: bold;
}

nav .mobile-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

section.welcome {
  text-align: center;
}

section.welcome .welcome-img {
  display: none;
}

section.welcome .mobile-welcome-img {
  width: 90%;
  margin-top: 3em;
}

section.welcome .left-col .subhead {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #F02323;
  letter-spacing: .3em;
}

section.welcome .left-col h1 {
  font-size: 2.8em;
  margin: 0;
}

section.welcome .left-col .subtext {
  font-size: 1.2em;
  color: #4c4c4c;
  margin-top: 0;
}

section.features-section {
  background: #F02323;
  color: #4c4c4c;
}

section.features-section .random-text {
  margin-top: 1.4em;
  margin-bottom: 3.8em;
}

section.features-section .gen-text {
  margin-bottom: 1.5em;
}

section.features-section .legend-text {
  margin-top: .7em;
  margin-bottom: 2.7em;
}

section.features-section li {
  background: #f85b5b;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1.2em;
}

section.features-section li img {
  width: 30%;
  border: 8px solid #f85b5b;
  border-radius: 80%;
  margin-top: -5.5em;
}

section.features-section li .Random-cta {
  color: white;
  text-decoration: none;
  border: 3px solid white;
  font-weight: bold;
  border-radius: 5em;
  padding: .6em 1.3em;
  font-size: 1.3em;
}

section.features-section li .Random-cta:hover {
  background: white;
  color: #F02323;
}

section.features-section li .Generation-cta {
  color: white;
  text-decoration: none;
  border: 3px solid white;
  font-weight: bold;
  border-radius: 5em;
  padding: .6em 1.3em;
  font-size: 1.3em;
}

section.features-section li .Generation-cta:hover {
  background: white;
  color: #F02323;
}

section.features-section li .Legendary-cta {
  color: white;
  text-decoration: none;
  border: 3px solid white;
  font-weight: bold;
  border-radius: 5em;
  padding: .6em 1.3em;
  font-size: 1.3em;
}

section.features-section li .Legendary-cta:hover {
  background: white;
  color: #F02323;
}

@media only screen and (min-width: 855px) {
  .mobile-menu-btn, .mobile-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul.primary-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-top: 1.4em;
  }
  .navbar nav a {
    color: white;
    font-size: 1.1em;
    padding: .1em, 1em;
  }
  .navbar nav li.current a {
    color: #4c4c4c;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1080px) {
  section {
    padding: 10em 4em;
  }
  .navbar nav ul.primary-menu {
    margin-top: 1.1em;
  }
  .navbar nav a {
    color: white;
    font-size: 1.4em;
    padding: .1em, 1em;
  }
  .welcome .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .welcome .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .welcome .container .mobile-welcome-img {
    display: none;
  }
  .welcome .container .welcome-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
}

@media only screen and (min-width: 1535px) {
  .navbar nav ul.primary-menu {
    margin-top: .1em;
  }
  .navbar nav a {
    color: white;
    font-size: 2em;
    padding: .1em, 1em;
  }
  .welcome .container .left-col .subhead {
    font-size: 2em;
  }
  .welcome .container .left-col h1 {
    font-size: 5em;
    width: 90%;
  }
  .welcome .container .left-col .subtext {
    font-size: 1.5em;
  }
  .welcome .container .welcome-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
  }
  .features-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features-section ul blockquote {
    font-size: 1.5em;
  }
  .features-section ul li {
    margin: 0 1em;
  }
}
/*# sourceMappingURL=main.css.map */